<div class="container">
    <div class="card-deck flex-row flex-nowrap">
        <a href="http://google.com" *ngFor="let c of customers">
            <div class="card" style="width: 18rem;" >
                <div class="card-content">
                    <span class="card-title">{{c.name}}</span>
                    <p>{{c.policy}}</p>
                    <p>{{c.address}}</p>
                    <p>{{c.city}}</p>
                    <p>{{c.state}}</p>
                </div>
            </div>
        </a>

    </div><!-- END CARD DECK -->
</div><!-- END CONTAINER -->