<div class="container" [hidden]="submitted">
      <h1>Create Customer</h1>
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)" >
            <div class="form-group">
                  <label for="niName">Name</label>
                  <input type="text" formControlName="niName"  class="form-control" name="niName" id="niName" required>
            </div>
            <div class="form-group">
                  <label for="niPolicy">Policy</label>
                  <input type="text" formControlName="niPolicy"  class="form-control" name="niPolicy" id="niPolicy" required>
            </div>

            <div class="form-group">
                  <label for="niDob">Date Of Birth</label>
                  <input type="text" formControlName="niDob"  class="form-control" name="niDob" id="niDob">
            </div>

            <div class="form-group">
                  <label for="niAddress">Address</label>
                  <input type="text" formControlName="niAddress"  class="form-control" name="niAddress" id="niAddress">

                  <label for="niCity">City</label>
                  <input type="text" formControlName="niCity"  class="form-control" name="niCity" id="niCity">

                  <label for="niState">State</label>
                  <input type="text" formControlName="niState"  class="form-control" name="niState" id="niState">

                  <label for="niZip">Zip</label>
                  <input type="text" formControlName="niZip"  class="form-control" name="niZip" id="niZip">
            </div>

            <div class="form-group">
                  <label for="niPhoneNumber">Phone Number</label>
                  <input type="text" formControlName="niPhoneNumber"  class="form-control" id="niPhoneNumber" name="niPhoneNumber">
            </div>

            <div class="form-group">
                  <label for="niEmail">Email</label>
                  <input type="text" formControlName="niEmail"  class="form-control" id="niEmail" name="niEmail">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>

      </form>
</div>

<div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9"></div>
      </div>
      <div class="row">
        <div class="col-xs-3">Policy</div>
        <div class="col-xs-9"></div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>